body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0px;
  overflow-x: hidden;
}

.header-div {
  margin-top: 20px;
  font-size: 64px;
  padding-top: 70px;
  border-radius: 20px;
  width: 80%;
  height: 220px;
  margin-left: 10%;
  color: white;
  background-color: rgb(51, 51, 51);
}


.AllCards {
  width: 100%;
  padding-right: 7%;
  margin-top: 30px;
  height: fit-content;
  padding-bottom: 40px;
}

.newCard {
  display: inline-block;
  background-color: rgb(204, 204, 204);
  width: 220px;
  margin-left: 1.5%;
  border-radius: 10px;
  text-align: center;
  height: 280px;
  padding: 10px;
  opacity: 0;
} 

.newCard0 {
  margin-left: 0px;
}

.location {
  font-size: 17px;
  margin-top: 10px;
}

.weekDay {
  font-size: 20px;
  font-weight: 600;
}

.weekDate {
  margin-top: 10px;
}

.condition {
  margin-top: 10px;
}

.weatherImage {
  height: 90px;
  width: 110px;
  margin-top: 30px;
}

.temp {
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}

.loadingImg {
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 41%;
  margin-top: 100px;
  animation: rotation 2s;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.linear {
  animation-timing-function: linear;
}

.infinite {
  animation-iteration-count: infinite;
}


